*{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
position: relative;
 height: 100px;
 background-color: #c1ffd4;
 text-align: center;
}


.nombre{
position: relative;
    font-size: 40px;
    text-align: center;
}
    

.foto{
    height: 169px;
    width: 128px;
    position: relative;
    left: 30px;


}

.yo{
 background-color: #4caa66;
color: white;
padding: 15px;
width: 200px;
height: 1000px;
}

.aptitudes{
    position: relative;
    float: right;
    bottom: 950px;
    left: -300px;
    }

footer{
    background-color: #c1ffd4;
}
.enlaces{
    text-decoration: none;
    color: black;
}
